.form {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 30px;

  fieldset {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background: var(--color-gray);

    legend {
      font-family: var(--font-primary);
      font-size: 1.125rem;
      font-weight: 700;
    }
  }
}

.field {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 10px;

  label {
    font-family: var(--font-primary);
    font-size: 0.875rem;
    font-weight: 700;
  }

  input {
    width: 100%;

    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: 400;
    height: 2.875rem;
    padding: 0 20px;
    background: var(--color-white);
    border: 1px solid var(--color-primary-light);
    border-radius: 4px;
  }
}
