:root {
  --font-primary: "Inter", sans-serif;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray: #f7f7f7;
  --color-primary: #5782e8;
  --color-primary-20: #5984e833;
  --color-primary-light: #c2d4ff;
  --color-primary-dark: #192135;
  --shadow-primary: 0 0 25px 0 rgba(0, 0, 0, 0.05);
}

body:has(div.dark) {
  --color-white: #000000;
  --color-black: #ffffff;
  --color-gray: #181818;
  --color-primary: #5782e8;
  --color-primary-20: #5984e833;
  --color-primary-light: #192135;
  --color-primary-dark: #c2d4ff;
  --shadow-primary: 0 0 25px 0 rgba(255, 255, 255, 0.05);
}
