:root{
    --font-primary: "Inter", sans-serif;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-primary: #5782e8;
    --color-primary-light: #c2d4ff;
    --color-primary-dark: #192135;
}