:root{
    --font-primary: "Inter", sans-serif;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-gray: #f7f7f7;
    --color-primary: #5782e8;
    --color-primary-20: #5984e833;
    --color-primary-light: #c2d4ff;
    --color-primary-dark: #192135;
    --shadow-primary: 0 0 25px 0 rgba(0,0,0, .05);
}