.list{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
}

.search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 30px;
}

.notfound{
    margin-top: 30px;
}